body {
  background-image: url("/assets/images/crypto.jpg");
  background-size: cover;
  padding-top: 70px;
}

.deleteNote {
	display: inline-block;
}

.previousNotes {
  display: inline-block;
  width: 90%
}

#scrape {
  margin: 8px 0px;
}

.navbar-brand {
  padding-top: 1.3125rem;
}